.blogborder{
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding-left: 15px;
    margin-bottom: 5px;
}
.time{
    font-size: small;
    font-style: italic;
    color: gray;
}